.h1{
color:rgb(12, 25, 85);
background-color: rgb(154, 156, 158);
text-align: center;

}

.h2{
    color:rgb(12, 25, 85);
    background-color: rgb(154, 156, 158);
    text-align: left;
    }
.container-image img{
    width: 90%;
    margin: 3%;
    width: 180px;
    border-radius: 50px 50% 50% 50%;
    height: 180px;
    background: #448ed3 ;
    position: relative;
    bottom: 20px;
    left: 535px;
}


